<div><%= question.desc %></div>
<div>
    <% if(question.type == 'textarea') { %>
        <textarea name="question_<%= question.type %>_<%= question.id %>" cols="50" rows="10"></textarea>
    <% } else if(question.type == 'select') { %>
        <select name="question_<%= question.type %>_<%= question.id %>">
            <% question.items.forEach(function(itemId) { %>
                <option value="<%= itemId %>"><%= result.items[itemId] %></option>
            <% }) %>
        </select>
    <% } else { %>
        <% question.items.forEach(function(itemId) { %>
            <% include item %>
        <% }) %>
    <% } %>
</div>